{% extends 'base.html' %}

{% block content %}
    <form method="POST">
        {% csrf_token %}

<!--        <input type="text" name="user_name" placeholder="username"><br>-->
<!--        <input type="password" name="password" placeholder="password"><br>-->

<!--        <br>-->

<!--        <input type="checkbox" id="remember_me" name="remember_me" value="Remember Me">-->
<!--        <label for="remember_me"> Remember Me</label><br>-->

<!--        <div class="col-sm-offset-2">-->
<!--            <button class="btn btn-primary" type="submit">Sign In</button>-->
<!--            <a class="btn btn-info" href="password_reset">Forgot Password?</a>-->

<!--        </div>-->

        {% for field in login_form %}
              <p>
                  {{ field.label_tag }}
                  {{ field }}

                  {% if field.help_text  %}
                      <small style="color: grey;">{{ field.help_text }}</small>
                  {% endif %}
              </p>
        {% endfor %}

        {% for field in login_form %}
          <p>
            {% for error in field.errors %}
              <p style="color: red">{{ error }}</p>
            {% endfor %}
          </p>
        {% endfor %}

        {% if login_form.non_field_errors %}
            <div style="color: red">
              <p>{{login_form.non_field_errors}}</p>
            </div>
        {% endif %}

        <input type="checkbox" id="remember_me" name="remember_me" value="Remember Me">
        <label for="remember_me"> Remember Me</label><br>

        <div class="col-sm-offset-2">
            <button class="btn btn-primary" type="submit">Sign In</button>
            <a class="btn btn-info" href="password_reset">Forgot Password?</a>

        </div>


    </form>

<!--    <div>-->
<!--      {% for message in messages %}-->
<!--      <h3> {{message}}</h3>-->
<!--      {% endfor %}-->
<!--    </div>-->
{% endblock %}
