{% extends 'base.html' %}

<!--{% block title %} Employee Registration{% endblock %}-->

{% block content %}

<h1>User Details</h1>

<form action="user_register" method='post'>

  {% csrf_token %}

  Enter First Name: <input type="text" name="first_name" placeholder="First Name"><br>
  Enter Last Name: <input type="text" name="last_name" placeholder="Last Name"><br>
  Enter User Name: <input type="text" name="user_name" placeholder="User Name"><br>
  Enter Email: <input type="email" name="email" placeholder="Email"><br>
  Enter Password: <input type="password" name="password" placeholder="Password"><br>
  Confirm Password: <input type="password" name="confirm_password" placeholder="Confirm Password"><br>


  <button type='submit'>Submit </button>
</form>

<div>
  {% for message in messages %}
  <h3> {{message}}</h3>
  {% endfor %}
</div>
{% endblock %}